.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  .homebutton {
    width: 90rpx;
    height: 90rpx;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 40rpx;
    left: 40rpx;
    box-shadow: 0 10rpx 10rpx rgba(0, 0, 0, 0.2);

    transition: transform 0.15s ease;

    &:active {
        transform: scale(0.95);
        background-color: #f0f0f0;
    }

    .homeicon {
      width: 55rpx;
      height: 55rpx;
    }
  }
  
}